[submodule "newlib"]
	path = newlib
	url = https://github.com/reswitched/newlib.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
[submodule "sdl"]
	path = sdl2
	url = https://github.com/reswitched/sdl-libtransistor.git
[submodule "libcxx"]
	path = libcxx
	url = https://github.com/llvm-mirror/libcxx
[submodule "libcxxabi"]
	path = libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/llvm-mirror/libunwind
[submodule "neither"]
	path = neither
	url = https://github.com/LoopPerfect/neither.git
